{% extends "core/base_xherc.html" %} {% block title %} Index {% endblock title %} {% load static %} {% block content %}


<section id="herctime-002">
    <div class="content-hub">
        <div class="container-fluid mt-8 d-flex justify-content-center">
            <h1>This is a Herc's Contact</h1>
        </div>


        <div class="container-fluid my-8">
            <div class="row">

                <div class="col-lg-10s d-flex justify-content-center">
                    <img class="img-fluid" src="{% static 'img/svg-1.svg' %}" alt="">

                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}