{% extends "core/base_xherc.html" %} {% block title %} Index {% endblock title %} {% load static %} {% block content %}

<style>
    .banner-next::after {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        min-width: 100%;
        height: auto;
        min-height: 100%;
        width: auto;
        width: 100%;
        height: 100%;
        transform: translateY(-50%)translateX(-50%);
        object-fit: cover;
        background-image: url(../../static/img/content/deal_with_a_person_with_gambling_problem.jpeg);
        background-size: 100%;
        background-repeat: no-repeat;
        z-index: 0;
    }
    
    .htime10-content {
        z-index: 1;
        position: relative;
        padding: 3rem;
        background-color: rgba(201, 199, 200, .8);
    }
</style>





<section id="content-next-001">

    <div class="content-next mb-10">
        <nav aria-label="breadcrumb" class="my-5">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="dark-primary fw-600" href="/">Почетна</a></li>
                <li class="breadcrumb-item deep-carmine" aria-current="page">како да се постапи со личност која има проблем со коцкање</li>
            </ol>
        </nav>

        <!-- Banner min-width:992px -->
        <div style="background-color: antiquewhite;" class="position-relative ">
            <div class="banner-next">
                <div class="row">


                    {% include 'plugin/herc_program_banner.html' %}

                </div>
            </div>
        </div>

        <!-- Banner max-width:992px -->
        <div class="row">
            <div class="d-none992min">
                <div class="row g-0">

                    <img class="img-fluid" src="{% static 'img/content/deal_with_a_person_with_gambling_problem.jpeg' %}" alt="како да се постапи со личност која има проблем со коцкање">


                    <div class="deep-carmine-bg">

                        <div class="text-center mb-4">
                            <h1 class="mb-4 white-primary">
                                Програма за третман на ХЕРЦ за патолошки коцкари
                            </h1>

                            <p class="white-primary">
                                Третманот на коцкарите според ХЕРЦ методот е резултат на работа со луѓе кои се зависни од патолошко коцкање и членови на нивните семејства.
                            </p>

                        </div>

                        <div class="d-block text-center">
                            <div class="mb-4">
                                <a href="tel:+38976303635" class="                    ht-next-link-white">
                                    +389 76 303 635
                                </a>
                            </div>

                            <div>
                                <button data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@getbootstrap" style="opacity: 1;" class="ht-next-link-white">Закажете консултација</button>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

        </div>
        <div class="container mt-5 p-0">
            <div class="row g-0">
                <div class="col-xl-8 col-lg-7 main-content pe-4">
                    <h1 class="deep-carmine">
                        Како да се постапи со личност која има проблем со коцкање
                    </h1>

                    <p>
                        Ако вашиот сопруг или син има проблем со коцкањето, мора да го сфатите тој проблем многу сериозно! За вас е многу важно да знаете дека одговорноста за лекување на коцкарот лежи кај вас. Тој е блокиран и често не може да разбере дека коцкањето сè повеќе
                        го вовлекува и дека не може да се спротивстави и да престане. Треба да разберете и прочитате што е зависност, да се запознаете со симптомите.
                    </p>
                    <p>
                        Тоа не се разликува многу од зависноста од дрога, освен што со зависноста од коцкање, вие и целото семејство сте во проблем. Тој е причината, но кога ќе дојдат лихвари, кога ќе се задолжи премногу, кога ќе отиде предалеку, ќе имате проблеми лично со нив.
                        Нема да можеш да се извлечеш со тоа што не знаеш, тоа не ги интересира, ги интересира само парите што ќе треба да ги вратиш. Ќе мора да продадете се што имате ако можете да се спасите. Затоа е потребно сериозно да го сфатите проблемот,
                        и да реагирате навреме, додека има уште надеж и можност да го спасите неговиот, вашиот и вашиот живот на вашите деца.
                    </p>
                    <p>
                        Сè што создавате, работите, заштедите, наследувате може да се изгуби за еден ден на рулет. И она што го немате! Тоа се сериозни работи и разберете дека нема да му помогнете со совети и критики. Тоа го прави уште полошо, бидејќи мора сам да научи како
                        да се справи со тоа. Прво треба да прифати дека има проблем. Не се преправајте дека се е во ред, ако имате чувство дека НЕ ​​Е. Вие најдобро го гледате тоа, го познавате вашиот сопруг. Реагирајте на време и помогнете му. Не е ни
                        решение да го убиеш, ќе треба да ги вратиш долговите! Ако се разведете, секогаш ќе се обвинувате себеси што не се обидувате да му помогнете, без разлика на цената, без разлика на се, животот нема цена!
                    </p>
                    <div class="my-5">


                        <iframe style="height: 415.37px;" title="Za uspešne roditelje čija se deca kockaju    |DEJAN Stanković|" src="https://www.youtube.com/embed/J2bI0SwAQBE?list=PLpRpUXzcyQipJGa2XI0cDfYqqv5z08-ys" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen="" class="video-fr-2" frameborder="0"></iframe>

                    </div>

                    <p>
                        Подолу се дадени некои од симптомите и сликите кои се повторуваат и проверете дали го препознавате вашиот сопруг или син во нив. Доколку некаде го препознаете неговото однесување, реагирајте што поскоро и побарајте совет барем телефонски, тимот на ХЕРЦ
                        има телефон на располагање секој ден!
                    </p>
                    <ul>
                        <li>
                            Ќе пружи голем отпор кога ќе се обиде да зборува за коцкањето, а особено за тоа дали постои можност да има проблем со коцкањето.
                        </li>
                        <li>
                            Što je osoba više u problemu sa kockanjem to će intenzivnije braniti ili pravdati svoje kockanje kao put do sticanja veće količine novca.
                        </li>
                        <li>
                            Вашиот сопруг може да стане таинствен, одбранбен, па дури и да ве обвини за нивната потреба да се коцка, тврдејќи дека сè што прават е за вас.
                        </li>
                        <li>
                            Само треба да верувате во него и во големите пари што ќе ги освои еден ден.
                        </li>
                        <li>
                            Тие можат да станат многу таинствени кога се во прашање нивните финансии.
                        </li>
                        <li>
                            Многу е можно да изразат желба да се грижат за семејните приходи, а често ќе се случува да нема доволно пари, без разлика на непроменетите трошоци и приходи.
                        </li>
                        <li>
                            Заштедите полека ќе се намалуваат, а можно е да се појават ненадејни и необјасниви заеми и кредити.
                        </li>
                        <li>
                            Ќе почне да краде пари од коцкарницата
                        </li>
                        <li>
                            Тие вешто ќе ги кријат своите приходи. Никогаш нема да знаете каде одат парите.
                        </li>
                        <li>
                            Тие можат да станат интензивено под стрес и „очајни“ да дојдат до пари за да го финансираат своето коцкање
                        </li>
                        <li>
                            Покрај заемите, голема е веројатноста да позајмат од семејството и пријателите, а може да се случи и накитот и скапите работи од вашиот дом мистериозно да исчезнат.
                        </li>
                    </ul>

                    <h2>
                        Како да му помогнете на некој со проблем со коцкање?
                    </h2>

                    <ul>
                        <li>
                            На луѓето кои имаат проблем со коцкањето обично им е потребна поддршка од семејството и пријателите за да се изборат со проблемот и да престанат со коцкањето, но одлуката да престанат со коцкањето мора да биде нивна.
                        </li>
                        <li>
                            Колку и да сакате и колку и да се погубни последиците од нивното коцкање на кои сте сведок, не можете да натерате некој да престане да се коцка.
                        </li>
                        <li>
                            Ако некој член од вашето семејство има проблем со коцкањето, веројатно ќе имате многу спротивставени емоции.
                        </li>
                        <li>
                            Ќе ја покриете вашата сакана личност, ќе барате изговори за нив и ќе вложите максимални напори за да му помогнете да престане да се коцка.
                        </li>
                        <li>
                            Од друга страна, многу е веројатно дека ќе бидете крајно уморни и лути доколку личноста повторно попушти.
                        </li>
                        <li>
                            Постои голема веројатност лицето да позајми, понекогаш да ви украде пари, како и да продава имот и недвижен имот или да земе заеми за кои нема да знаете.
                        </li>
                        <li>
                            Сето ова може да биде многу исцрпувачки и разочарувачки за вас.
                        </li>
                        <li>
                            Кога личноста со проблем со коцкањето ќе се соочи со последиците од своите постапки, се јавуваат интензивни чувства на вина и пад на самодовербата.
                        </li>
                        <li>
                            Може да изгубите се што имате. Ова нема да се случи одеднаш, туку постепено.
                        </li>
                        <li>
                            Често се случува да има висок процент на самоубиства кај патолошките коцкари.
                        </li>
                        <li>
                            <strong>
                                Доколку има можности, охрабрете го лицето да побара помош и да го поддржи преку процесот на повлекување, но поставете ограничувања и направете ги свесни до каде точно оди вашата одговорност.
                            </strong>
                        </li>
                    </ul>


                    {% include 'plugin/contact_bottom.html' %}

                </div>
                {% include 'plugin/right_bar.html' %}

            </div>
        </div>


    </div>


</section>

<!--  -->

{% endblock %}