{% extends "core/base_xherc.html" %} {% block title %} Index {% endblock title %} {% load static %} {% block content %}

<style>
    .banner-next::after {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        min-width: 100%;
        height: auto;
        min-height: 100%;
        width: auto;
        width: 100%;
        height: 100%;
        transform: translateY(-50%)translateX(-50%);
        object-fit: cover;
        background-image: url(../../static/img/content/dejan_stankovic.jpg);
        background-size: 100%;
        background-repeat: no-repeat;
        z-index: 0;
    }
    
    .htime10-content {
        z-index: 1;
        position: relative;
        padding: 3rem;
        background-color: rgba(201, 199, 200, .8);
    }
</style>





<section id="content-next-001">
    <div class="content-next mb-10">
        <nav aria-label="breadcrumb" class="my-5">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="dark-primary fw-600" href="/">Почетна</a></li>
                <li class="breadcrumb-item deep-carmine" aria-current="page">Dejan Stanković </li>
            </ol>
        </nav>


        <div style="background-color: antiquewhite;" class="position-relative ">
            <div class="banner-next">
                <div class="row">
                    <!-- min-width:992px -->

                    {% include 'plugin/herc_program_banner.html' %}

                </div>
            </div>
        </div>

        <div class="row">

            <!-- max-width:992px -->
            <div class="d-none992min">
                <div class="row g-0">

                    <img class="img-fluid" src="{% static 'img/content/dejan_stankovic.jpg' %}" alt="Dejan Stanković ">



                    <div class="deep-carmine-bg p-4">

                        <div class="text-center mb-4">
                            <h1 class="mb-4 white-primary">
                                Програма за третман на ХЕРЦ за патолошки коцкари
                            </h1>

                            <p class="white-primary">
                                Третманот на коцкарите според ХЕРЦ методот е резултат на работа со луѓе кои се зависни од патолошко коцкање и членови на нивните семејства.
                            </p>

                        </div>

                        <div class="d-block text-center">
                            <div class="mb-4">
                                <a href="tel:+38976303635" class="                    ht-next-link-white">
                                    +389 76 303 635
                                </a>
                            </div>

                            <div>
                                <button data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@getbootstrap" style="opacity: 1;" class="ht-next-link-white">Закажете консултација</button>
                            </div>
                        </div>

                    </div>



                </div>

            </div>

        </div>
        <div class="container mt-5 p-0">
            <div class="row g-0">
                <div class="col-xl-8 col-lg-7 main-content">
                    <h1 class="deep-carmine">Дејан Станковиќ</h1>

                    <p>
                        ДЕЈАН СТАНКОВИЌ е директор на компанијата HERC TIME од Нови Сад, која се занимава со едукација на тема патолошки коцкање.
                    </p>

                    <p>
                        ДЕЈАН СТАНКОВИЌ има напишано три книги на тема коцкање, романот „Улог“ кој е објавен во 2005 година, едукативниот прирачник „Патолошки коцкање - причини и последици“ е објавен во 2007 година и романот „Збогум на коцкањето“ објавен во 2009 година. преку
                        различни активности во невладиниот сектор одржа многу форуми, работилници, консултации, над 200 медиумски настапи.
                    </p>
                    <p>
                        Дејан Станковиќ веќе петнаесет години континуирано ги советува членовите на семејството и им помага на луѓето од целиот регион - Србија, Босна и Херцеговина, Хрватска, Црна Гора и Македонија - да го надминат проблемот со патолошкото коцкање. Покрај работата
                        во живо, тој работи со клиенти од целиот свет преку онлајн контакти. Тоа е голем успех во откажувањето од коцкањето, а бројните задоволни клиенти го потврдуваат тоа со својата благодарност.
                    </p>

                    <p>
                        Компанијата „Херц тајм“ постои од 2013 година, пред тоа постоеше „Херц фонд“ (2005-2013 година), кој се занимаваше со истата тема. Многу училишта се јавуваат поради проблемите со учениците, им се обезбедува соодветна поддршка, а филмот за коцкањето кој
                        е направен по негова иницијатива и сценарио достигнува неверојатна бројка од над 600.000 прегледи на YouTube. На каналот „Херц Тајм“ обезбедува секојдневна поддршка на семејствата и луѓето кои се коцкаат преку кратки и интересни
                        пораки.
                    </p>
                    <p>
                        Дејан Станковиќ е автор на првиот документарно-игран филм "ULOG", снимен во 2016 година.
                    </p>
                    <p>
                        Овој филм е посветен на сите кои се зависни од коцкање. Тоа е превентивна мерка младите да знаат како коцкањето може да ги уништи нивните животи и животите на членовите на нивните семејства.
                    </p>

                    <p>
                        Во филмот се појавуваат интервјуирани од Босна и Херцеговина и Хрватска. Со помош на Дејан Станковиќ и неговиот психолошки тим го решија проблемот со коцката.
                    </p>
                    <div class="my-5">


                        <iframe style="height: 415.37px;" title="Za uspešne roditelje čija se deca kockaju    |DEJAN Stanković|" src="https://www.youtube.com/embed/dHpq_I44IeM?list=PLpRpUXzcyQipJGa2XI0cDfYqqv5z08-ys" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen="" class="video-fr-2" frameborder="0"></iframe>

                    </div>
                    {% include 'plugin/hashtags.html' %}
                </div>
                {% include 'plugin/right_bar.html' %}

            </div>
        </div>


    </div>


</section>

<!--  -->

{% endblock %}