{% extends "core/base_xherc.html" %} {% block title %} Index {% endblock title %} {% load static %} {% block content %}

<style>
    .banner-next::after {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        min-width: 100%;
        height: auto;
        min-height: 100%;
        width: auto;
        width: 100%;
        height: 100%;
        transform: translateY(-50%)translateX(-50%);
        object-fit: cover;
        background-image: url(../../static/img/family-and-gembler.webp);
        background-size: 100%;
        background-repeat: no-repeat;
        z-index: 0;
    }
    
    .htime10-content {
        z-index: 1;
        position: relative;
        padding: 3rem;
        background-color: rgba(201, 199, 200, .8);
    }
</style>





<section id="content-next-001">
    <div class="content-next mb-10">
        <nav aria-label="breadcrumb" class="my-5">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="dark-primary fw-600" href="/">Почетна</a></li>
                <li class="breadcrumb-item deep-carmine" aria-current="page">фамилијата и коцкарот</li>
            </ol>
        </nav>


        <div style="background-color: antiquewhite;" class="position-relative ">
            <div class="banner-next">
                <div class="row">
                    <!-- min-width:992px -->

                    {% include 'plugin/herc_program_banner.html' %}

                </div>
            </div>
        </div>

        <div class="row">

            <!-- max-width:992px -->
            {% include 'plugin/herc_program_banner_sm.html' %}


        </div>
        <div class="container mt-5 p-0">
            <div class="row g-0">
                <div class="col-xl-8 col-lg-7 main-content pe-5">
                    <h1 class="deep-carmine">Фамилијата и коцкарот</h1>
                    <p>

                        <strong>
                            Семејството и коцкарот
                        </strong> се во некаква патолошка врска. Коцкарот прави проблеми, се задолжува, не ги слуша советите на родителите или сопругата, а семејството молчи за сето тоа. Во круг ги враќаат долговите и така натаму.
                        Семејството и коцкарот сè повеќе пропаѓаат Секое семејство кое има член со проблем со коцкањето знае дека
                        <strong>
                            последиците од тој проблем опфаќаат многу поголеми размери од поединецот
                        </strong> со проблемот, но дека тие влијаат на сите односи меѓу членовите на целото целото семејство.
                    </p>
                    <p>
                        <strong>
                            Проблемот со коцкањето
                        </strong> често долго се крие од очите на семејството, а со тоа шокот кај семејството е значително поголем кога ќе дознае за самиот проблем, а воедно и за неговите последици, кои во тој момент се обично
                        толку големи што повеќе не можат да се сокријат.
                    </p>




                    <h2 class="dark-primary">
                        Влијанието на патолошкото коцкање врз семејството најмногу се рефлектира во следните аспекти:
                    </h2>
                    <hr>
                    <ul>
                        <li>
                            Функционирање на семејството и односи помеѓу членовите.
                        </li>
                        <li>
                            Влијанието врз партнерите, родителите, децата и блиските роднини.
                        </li>
                        <li>
                            Нарушени семејни односи, емоционални проблеми и финансиски тешкотии кои го отежнуваат продолжувањето на функционирањето на семејството.
                        </li>

                        <li>
                            Забележана е јасна поврзаност помеѓу патолошкото коцкање и семејното насилство
                        </li>
                    </ul>
                    <hr>

                    <p>
                        Луѓето можат да го решат проблемот со коцкањето, но тоа пред се е
                        <strong>
                            процес кој бара многу трпение и време,
                        </strong> што дополнително го отежнува функционирањето на семејството, а некои врски се прекинуваат, додека други се зацврстуваат преку овој процес. Важно е да се нагласи дека носењето важни одлуки за меѓусебните
                        односи во тој период не е најмудрото решение бидејќи нивото на стрес обично е исклучително високо за сите членови, а често е невозможно целосно да се процени ситуацијата. Подобро решение е сите членови да одвојат време за себе
                        во кое ќе можат да ги соберат своите мисли, чувства и ставови за сето она низ кое поминуваат.
                    </p>

                    <h2>
                        Функционирање на семејството и реакции на членовите на семејството
                    </h2>

                    <p>
                        <strong>
                            Најчестите реакции на членовите вклучуваат повлекување и отфрлање на лицето кое има проблем со коцкањето,
                        </strong> обвинување на коцкарот за сите проблеми, оправдување на коцкарот пред работодавците и пријателите, дополнително вложување енергија и време за „покривање“ на сите задачи што коцкарот не може да
                        ги исполни. , негативно однесување на друг член за да се оттргне вниманието од коцкарите и многу други. Важно е да се нагласи дека ваквите реакции се сосема нормални, но не го решаваат ниту го забрзуваат процесот на рехабилитација
                        на лице со проблем и може да придонесат за натамошно прикривање на проблемот и неговите последици.
                    </p>
                    <p>
                        Несомнено, емоциите кои доминираат кај сите членови на семејството се гнев, силни чувства на страв и вознемиреност, како и предавство. Како последица на таквите емоции доаѓа до дистанцирање од коцкарот, односно партнерите најчесто негираат физичка и емоционална
                        блискост и поддршка на личноста која ги повредила, а од друга страна, коцкарот нема да го бара истото поради срамот што го чувствува кон блиските луѓе, а пријателствата често се уништуваат поради многу неплатени долгови.
                    </p>

                    {% include 'plugin/marketing/marketing_2.html' %}





                    <h2>
                        Влијание врз партнерските односи - семејството и коцкарот.
                    </h2>

                    <p>
                        Влијанието на патолошкото коцкање врз интимните односи може јасно да се претстави преку три фази: фаза на негација, стрес и замор.
                    </p>
                    <p>
                        <strong>
                            Во првата фаза
                        </strong> има повремена грижа за членот на семејството, чување на грижите за себе, барање оправдување за коцкање, гледање на коцкањето како привремено, наоѓање неплатени сметки, но лесно прифаќање и верување
                        во добиените објаснувања, ненадејни финансиски кризи, прифаќање каење од страна коцкарот.
                    </p>
                    <p>
                        <strong>
                            Во втората фаза (стрес фаза),
                        </strong> партнерот се помалку е дома и не поминува време со семејството, чести се дискусиите и расправиите, се чувствува отфрлено, му поставува барања пред коцкарот, се обидува да го контролира коцкањето,
                        враќа долгови, ги избегнува децата, семејството и пријателите, се поинтензивен гнев, изолација.
                    </p>

                    <p>
                        <strong>
                            Последната, трета, фаза се карактеризира
                        </strong> со замор на партнерот со сите претходни обиди да му помогне на лицето со проблем со коцкање. Конфузија, гнев, постојан сомнеж, вознемиреност и паника се присутни во најголема мера. Сегашниот стрес
                        се манифестира и на физичко ниво. Имено, коцкањето остава последици не само за коцкарот, туку и за членовите на семејството. Многу често се среќаваме со зголемена анксиозност, па дури и депресија кај членовите на семејството, кои
                        надворешно се манифестираат како апетит и варење и нарушувања на спиењето, чести главоболки и мигрени, како и болки во мускулите. Поради борбата со хроничниот стрес и занемарувањето на нивните потреби, многу членови на семејството
                        стигнуваат до фаза на „прегорување“, во која веќе немаат сила и енергија да се борат со претстојните проблеми, а тоа доведува до чувство на беспомошност. безнадежност, злоупотреба на психоактивни супстанции, развод, самоубиствени
                        мисли или обиди.
                    </p>

                    <h2>
                        Влијание врз децата / семејството и коцкарот
                    </h2>
                    <p>
                        <strong>
                            Кога едниот родител е оптоварен со коцкање,
                        </strong> а другиот со решавање на проблемите на партнерот или спречување на партнерот да направи повеќе штета, децата често се чувствуваат запоставени, игнорирани, депресивни и лути. Децата се склони кон
                        персонализација, односно да ги поврзуваат надворешните проблеми со сопственото однесување, па затоа е многу можно детето да мисли дека неговите родители се лути поради нешто што го прават или не, и да развие силно чувство за вина.
                        Многу деца ќе почнат да се грижат за помал брат или сестра или ќе се обидат да им пружат поддршка на родителите, а со тоа ќе си постават дополнителни задачи, кои најчесто не се во согласност со нивната возраст и можат да бидат
                        поразителни.
                    </p>
                    <p>
                        <strong>
                            Покрај тоа, детето често ќе мисли
                        </strong> дека треба да одлучи на чија „страна“ е, што го продлабочува внатрешниот конфликт кон двајцата родители (еден родител „мора да се брани“ и да не ја признае својата љубов кон другиот родител, а
                        другиот „ мора да биде лут“ иако го сака). Секако, многу е можно детето да се обиде да привлече внимание преку негативно однесување како што се пиење алкохол, дрога, нелегални активности, како и коцкање. Децата на патолошките коцкари
                        се изложени на значително поголем ризик да станат коцкари од децата чии родители не се коцкаат.
                    </p>
                    <p>
                        <strong>
                            Многу е важно да му објасните на детето дека на никаков начин
                        </strong> не е одговорно за постоечкиот проблем и дека не треба да се чувствува виновно и потребно е што поскоро да се врати детето во урамнотежена и безбедна средина. Исто така, советувањето може да му
                        помогне на детето да се прилагоди на промените.
                    </p>


                    <h2>
                        Емоционална нестабилност кај коцкарите и последици по семејството
                    </h2>

                    <p>
                        <strong>
                            Коцкарите често имаат измешани чувства за коцкањето.
                        </strong> Од една страна, постои силна потреба за коцкање и задоволството што доаѓа од тоа, но од друга страна, постои силно чувство на вина за повредување и лажење на членовите на семејството и блиските.
                        Често доминира незадоволството и гневот кон себе. Во исто време, коцкарите често имаат депресивно и негативно расположение, и важно е членовите на семејството да ги препознаат знаците на емоционална нестабилност што може да доведе
                        до сериозни имоти, во најлош случај до самоубиство кај лица со интензивен проблем со коцкањето, како и како со големи последици (долгови и загуби) од истите.
                    </p>
                    <p>
                        <strong>
                        Znakovi da je osoba trenutno depresivnog raspoloženja su:    
                    </strong> razmišljenja o samoubistvu, intenzivna ljutnja, intenzivna tuga i iritabilnost, gubitak interesovanja za sve aktivnosti, promenjen ritam spavanja (predugo ili prekratko, često isprekidano), gubitak
                        ili dobijanje na težini, slabljenje koncentracije, fokus pažnje na negativnim događajima ili emocijama o kojima osoba neprestano razmišlja, gubitak seksualne potrebe, hroničan umor ili nemogućnost mirovanja. Ukoliko navedeni simptomi
                        traju duže od dve sedmice bilo bi dobro javiti se za pomoć stručnom licu.
                    </p>

                    <h2>
                        Патолошко коцкање и насилство - семејство и коцкар
                    </h2>
                    <p>
                        <strong>
                            Поради силен гнев и силен стрес, како и намалена толеранција за фрустрација,
                        </strong> може да се појави вербално или физичко насилство од страна на коцкарите. Имено, податоците покажуваат дека дури повеќе од половина патолошки коцкари (56%) признале дека биле физички агресивни кон
                        децата, како и дека третина од лицата со проблем со коцкање пријавиле некаков облик на физичко насилство во последната година. Најчести жртви на насилство се партнерите, родителите, поранешните партнери и децата. Многу е важно
                        да се зборува отворено при првите знаци дека личноста минува низ тежок период, за да спречите ненадејни напади на гнев или бес. Доколку забележите дека постои сомневање дека може да дојде до насилство, веднаш контактирајте ги властите
                        и сфатете ја ситуацијата во која се наоѓате многу сериозно.
                    </p>

                    <h2>
                        Патолошко коцкање и самоубиство - семејство и коцкар
                    </h2>
                    <p>
                        <strong>
                            Исто така, постои ризик од самоубиство кај коцкарите, како и кај членовите на нивното семејство.
                        </strong> Поради појава на депресија или интензивна анксиозност, ризикот дополнително се зголемува, како и кај лицата со склоност кон алкохолизам или злоупотреба на дрога. Луѓето кои зборувале или се заканувале
                        со самоубиство се исто така изложени на поголем ризик. Ваквите закани или приказни сфатете ги сериозно и без осудување обидете се да разговарате со личноста за потребата и дали лицето има план да изврши самоубиство, што сугерира
                        сериозно да се справи со таа идеја. Во секој случај, упатете го лицето да разговара со професионалец. Семејството мора сериозно да го сфати овој проблем.
                    </p>

                    <p>
                        Ако се сомневате дека некој член од вашето семејство има проблем со коцкањето, можете да прочитате една од нашите претходни написи за <a href="http://kockanjegambling.blogspot.com/2015/05/znakovi-da-clan-porodice-ima-problem.html">знаци на патолошко коцкање кај член на семејството.</a>                        Подетални информации за проблемот со коцкањето можете да најдете на нашата веб-страница <a href="https://www.blogger.com/stankovicdejan.com"> stankovicdejan.com</a>, <a href="http://kockanje.org/"> kockanje.org</a>,и можете да
                        не следите на нашата
                        <a href="https://www.facebook.com/pages/Zbogom-kockanje"> фб страница.</a>
                    </p>


                    <!-- Video -->

                    <div class="my-5 d-flex justify-content-center">
                        <div class="w-100">


                            <iframe class="video-fr" loading="lazy" title="ZAŠTO VAM JE FOKUS SAMO NA NOVCU⁉️" src="https://www.youtube.com/embed/5VzjckLqw8c?list=PLpRpUXzcyQipJGa2XI0cDfYqqv5z08-ys" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen="" frameborder="0"></iframe>
                        </div>
                    </div>


                    <!-- END -->
                    {% include 'plugin/contact_bottom.html' %}

                </div>
                {% include 'plugin/right_bar.html' %}

            </div>
        </div>


    </div>


</section>

<!--  -->

{% endblock %}