{% extends "core/base_xherc.html" %} {% block title %} Index {% endblock title %} {% load static %} {% block content %}

<style>
    .banner-next::after {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        min-width: 100%;
        height: auto;
        min-height: 100%;
        width: auto;
        width: 100%;
        height: 100%;
        transform: translateY(-50%)translateX(-50%);
        object-fit: cover;
        background-image: url(../../static/img/content/man-upset-sofa1-gray.jpg);
        background-size: 100%;
        background-repeat: no-repeat;
        z-index: 0;
        filter: blur(2px);
    }
    
    .htime10-content {
        z-index: 1;
        position: relative;
        padding: 3rem;
        background-color: rgba(201, 199, 200, .8);
    }
</style>





<section id="content-next-001">
    <div class="content-next mb-10">
        <nav aria-label="breadcrumb" class="my-5">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="dark-primary fw-600" href="/">Почетна</a></li>
                <li class="breadcrumb-item deep-carmine" aria-current="page">пет знаци дека вашиот партнер има проблем со коцкање</li>
            </ol>
        </nav>

        <!-- BAnner min-width:992px -->
        <div style="background-color: antiquewhite;" class="position-relative ">
            <div class="banner-next">
                <div class="row">


                    {% include 'plugin/herc_program_banner.html' %}

                </div>
            </div>
        </div>


        <!-- Banner max-width:992px -->
        <div class="row">


            <div class="d-none992min">
                <div class="row g-0">

                    <img class="img-fluid" src="{% static 'img/content/man-upset-sofa1-gray.jpg' %}" alt="">

                    <div class="deep-carmine-bg p-4">

                        <div class="text-center mb-4">
                            <h1 class="mb-4 white-primary">
                                Програма за третман на ХЕРЦ за патолошки коцкари
                            </h1>

                            <p class="white-primary">
                                Третманот на коцкарите според ХЕРЦ методот е резултат на работа со луѓе кои се зависни од патолошко коцкање и членови на нивните семејства.
                            </p>

                        </div>

                        <div class="d-block text-center">
                            <div class="mb-4">
                                <a href="tel:+38976303635" class="                    ht-next-link-white">
                        +389 76 303 635
                    </a>
                            </div>

                            <div>
                                <button data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@getbootstrap" style="opacity: 1;" class="ht-next-link-white">Закажете консултација</button>
                            </div>
                        </div>

                    </div>



                </div>

            </div>

        </div>


        <div class="container mt-5 p-0">
            <div class="row g-0">
                <div class="col-xl-8 col-lg-7 main-content pe-5">


                    <h1 class="deep-carmine">
                        ПЕТ знаци дека вашиот партнер има проблем со коцкањето
                    </h1>

                    <p>
                        Коцкањето може да биде забавно, а понекогаш и профитабилна забава, но тоа е активност која лесно може да излезе од контрола. Зависноста може да се нарече проблематично коцкање или патолошко коцкање Како и да се нарекува, зависноста од коцкање е сериозен
                        проблем кој може да доведе до сериозни негативни последици за целото семејство, па дури и до распаѓање на семејството.
                    </p>
                    <h2>
                        Кои се знаците и симптомите дека вашиот партнер е опсесивен коцкар?
                    </h2>
                    <p>
                        Ако се сомневате дека вашето момче или сопруг има проблем со коцкањето, треба да научите како да ги препознаете првите знаци на зависност.Прво нешто што треба да направите е сериозен разговор со него на оваа тема. На почетокот ќе се спротивстави и ќе
                        му биде многу тешко да признае дека има проблем. Ова е типично однесување и не очекувајте ништо поинаку. Многумина воопшто не сакаат да зборуваат за тоа, туку бидете упорни, за со тек на време и самиот да сфати дека му е поедноставно
                        да си признае дека има проблеми, и да побара помош. Оваа ситуација на препознавање најчесто се случува по голема загуба, или со притисок на луѓе кои се задолжени и немоќни.
                    </p>
                    <h2>
                        Рани знаци на проблеми со коцка
                    </h2>
                    <p>
                        Зависноста од коцкање не започнува брзо, потребни се неколку години за целосно да се развие, а тоа се случува постепено. Ако вашиот партнер има проблем со коцкањето, знајте дека тоа започнало безопасно. Можеби еднаш имал голема победа во казиното и сакал
                        да ја добие таа победа. Можеби почнал да игра онлајн покер после работа за да се опушти и сега не може да престане. Можеби неговите додворувачи ја играле играта со години, или тој самиот спортувал и знае да спортува, па сега целото
                        слободно време го поминува во игра.
                    </p>
                    <p>
                        Ако е во рана фаза на неговиот проблем со коцка, имате добри шанси да го убедите да направи некои промени и да разговарате со некој кој може да му помогне навреме. Понекогаш се доволни неколку разговори за да се реши проблемот доколку е во почетна фаза.
                    </p>
                    <h2>
                        Првите знаци и симптоми на зависност од коцкање се:
                    </h2>

                    <ul>
                        <li>
                            Преокупација со коцкање.
                        </li>
                        <li>
                            Тој троши многу време на обложување или коцкање и губи големи суми пари.
                        </li>
                        <li>
                            Се коцка за смирување на негативните емоции како стрес, депресија или анксиозност.
                        </li>
                        <li>
                            Тој нема други хобија и не го интересира ништо освен коцкање.
                        </li>
                        <li>
                            Се коцка и покрај негативните последици, како што се губењето големи пари или тврдењето дека троши многу време на коцкање.
                        </li>
                        <li>
                            Исто така се обидува да го намали коцкањето, но без многу успех.
                        </li>
                    </ul>
                    <h2>
                        Симптоми на зависност од коцкање:
                    </h2>
                    <p>
                        Првите знаци на проблем со коцка може да биде тешко да се препознаат и игнорираат. Тие можат да бидат благи и не доволни вие и вашиот партнер да кажете дека воопшто има проблем. Ако навреме не се справите со проблемот, тоа може да доведе до влошување
                        на зависноста од коцкање, па дури и до зависност или случај на патолошко коцкање.
                    </p>

                    <h2>
                        Пет знаци дека вашиот партнер има сериозен проблем со коцкањето и дека му е потребна итна помош:
                    </h2>
                    <div class="list-num">
                        <ul>
                            <li>
                                Тој е лут, раздразлив и нервозен кога не може да се коцка ако нема пари или не може да стигне до казиното.
                            </li>
                            <li>
                                Поминува многу време на коцкање, а тоа време се зголемува. Додека се коцка, се чувствува убаво, така што развил толеранција кон проблемот.
                            </li>
                            <li>
                                Сериозните финансиски проблеми поради коцкањето не го спречуваат да се коцка. Тоа значи големи суми пари за коцкарот, често се случува да остане без работа поради проблеми со времето кое го поминува на коцкање.
                            </li>
                            <li>
                                Започнува со екстремни потези за да добие повеќе пари за коцкање: позајмува пари од пријатели или лихвари, зема заеми, краде работи од куќата и ги продава.
                            </li>
                            <li>
                                Тој доживува манични епизоди на среќа кога победува и тешка депресија кога губи. Неговите емоции се длабоко поврзани со неговото коцкање и не разбирате зошто се однесува така како што се однесува.
                            </li>
                            <li>
                                Тој негира дека има проблем со коцкањето и одбива да прифати каков било совет.
                            </li>
                        </ul>
                    </div>

                    <h2>
                        Што да направите ако мислите дека вашиот партнер има проблем со коцкањето
                    </h2>

                    <p>
                        Компулсивно коцкање е сериозен проблем за целото семејство и доколку вашиот партнер има некој од знаците на овој проблем, време е за важен разговор.
                    </p>
                    <p>
                        Пристапете му на партнерот со загриженост и сочувство и посочете му дека можеби има проблем. Објаснете како неговото коцкање влијае на вашиот живот и вашата врска и понудете му да му помогнете да го прекине или намали неговото коцкање. Ако одбие помош
                        или е во заблуда, не се откажувајте. Разговарајте со неговите пријатели или родители за да ви помогнат да го убедите да побара стручна помош.
                    </p>
                    <p>
                        <strong>
                            Преземете акција сега, пред да биде предоцна и вашата врска да биде целосно уништена од зависноста од коцкање.
                        </strong>
                    </p>

                    <h2>
                        На интернет, можете да го погледнете нашиот филм за коцкање на линкот
                    </h2>
                    <iframe class="video-fr mb-4" loading="lazy " title="ZAŠTO VAM JE FOKUS SAMO NA NOVCU⁉️ " src="https://www.youtube.com/embed/VCQBgFBqqS8?controls=0&rel=0&disablekb=1&showinfo=0&modestbranding=0&html5=1&iv_load_policy=3&autoplay=0&end=0&loop=0&playsinline=0&start=0&nocookie=false&enablejsapi=1&origin=https%3A%2F%2Fstankovicdejan.com&widgetid=2 "
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media;
                gyroscope; picture-in-picture " allowfullscreen=" " frameborder="0 "></iframe>




                    <!-- END -->
                    {% include 'plugin/contact_bottom.html' %}
                </div>
                {% include 'plugin/right_bar.html' %}

            </div>
        </div>


    </div>


</section>

<!--  -->

{% endblock %}