{% extends "core/base_xherc.html" %} {% block title %} Index {% endblock title %} {% load static %} {% block content %}

<style>
    .banner-next::after {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        min-width: 100%;
        height: auto;
        min-height: 100%;
        width: auto;
        width: 100%;
        height: 100%;
        transform: translateY(-50%)translateX(-50%);
        object-fit: cover;
        background-image: url(../../static/img/content/man-upset-sofa1-gray.jpg);
        background-size: 100%;
        background-repeat: no-repeat;
        z-index: 0;
        filter: blur(2px);
    }
    
    .htime10-content {
        z-index: 1;
        position: relative;
        padding: 3rem;
        background-color: rgba(201, 199, 200, .8);
    }
</style>





<section id="content-next-001">
    <div class="content-next mb-10">
        <nav aria-label="breadcrumb" class="my-5">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="dark-primary fw-600" href="/">Почетна</a></li>
                <li class="breadcrumb-item deep-carmine" aria-current="page">пет знаци дека вашиот партнер има проблем со коцкање</li>
            </ol>
        </nav>


        <div style="background-color: antiquewhite;" class="position-relative ">
            <div class="banner-next">
                <div class="row">
                    <!-- min-width:992px -->

                    {% include 'plugin/herc_program_banner.html' %}

                </div>
            </div>
        </div>

        <div class="row">

            <!-- max-width:992px -->
            <div class="d-none992min">
                <div class="row g-0">

                    <img class="img-fluid" src="{% static 'img/family-and-gembler.webp' %}" alt="">
                    <div class="deep-carmine-bg p-4">
                        <div class="text-center mb-4">
                            <h1 class="mb-4 white-primary">HERC program lečenja patoloških kockara</h1>
                            <p class="white-primary"> Lečenje kockara po Metodi HERC predstavlja rezultat rada sa osobama koje su zavisne od patološkog kockanja i članovima njihovih porodica.</p>

                        </div>
                        <div class="d-block text-center">
                            <div>
                                <button data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@getbootstrap" style="opacity: 1;" class="mb-3 
                                     ht-next-link-white">0808 271 7500</button>
                            </div>
                            <div>
                                <button data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@getbootstrap" style="opacity: 1;" class="ht-next-link-white">Закажете консултација</button>
                            </div>
                        </div>

                    </div>




                </div>

            </div>

        </div>
        <div class="container mt-5 p-0">
            <div class="row g-0">
                <div class="col-xl-8 col-lg-7 main-content pe-5">
                    <h1 class="deep-carmine">PET znaka da vaš partner ima problem sa kockanjem</h1>

                    <p>
                        Kockanje može biti zabavno, a ponekad i profitabilna razonoda, ali to je aktivnost koja može lako da se otme kontroli. Zavisnost se može nazivati kao problem problem kockanja ili patološko kockanje.Kako god da ga zovu, zavisnost od kockanja je ozbiljan
                        problem koji može dovesti do ozbiljnih negativnih posledica za celu porodicu, pa čak i raspada porodice.
                    </p>
                    <h2>
                        Koji su to znaci i simptomi da je vaš partner opsesivni kockar?
                    </h2>
                    <p>
                        Ako sumnjate da je vaš dečko ili suprug ima problem sa kockanjem, trebalo bi da naučite kako da prepoznate prve znake zavisnosti.Ono što prvo morateda uradite je da sa njim ozbiljno porazgovarate na ovu temu. On će se u početku protviti i veoma teško
                        priznati da ima problem. To je tipično ponašanje i ne očekujte ništa drugačije. Mnogi uopšte ne žele da razgovaraju o tome, ali budite uporni, tako da će on vremenom i sam shvatiti da mu je jednostavnije da sebi prizna da ima problema,
                        i potreži pomoć. Ova se situacija priznavanja najčešće desi posle nekog velikog gubitka, ili uz pritisak ljudi kojima se duguje i nemoći.
                    </p>
                    <h2>
                        Rani znaci problema sa kockom
                    </h2>
                    <p>
                        Zavisnost od kockanja ne počinje brzo, potrebno je nekoliko godina da se ona u potpunosti razvije, i to ide postepeno. Ako vaš partner ima problem sa kockanjem znajte da je on počeo bezazleno. Možda je imao veliki dobitak u kazinu jednom i poželeo da
                        osvoji taj dobitak . Možda je počeo da igra online poker posle posla da se opusti i sada ne može zaustaviti. Možda su njegovi prigatelji igrali godinama kladinicu, ili se sam bavio sportom i razume se u sport, pa sada celo svoje
                        slobodno vreme provodi u kladinici.
                    </p>
                    <p>
                        Ako je u ranim fazama problema sa kockanjem, imate dobre šanse da ga ubedite da napravi neke izmene, i na vreme porazgovara sa nekim ko mu može pomoći. Ponekad je dovoljno par razgovora da se problem stopita ako je u početnoj fazi.
                    </p>
                    <h2>
                        Rani znaci i simptomi zavisnosti od kockanja su:
                    </h2>

                    <ul>
                        <li>
                            Preokupacija kockanjem.
                        </li>
                        <li>
                            Mnogo vremena provodi kladeći se ili kockajući i gubi veće količine novca.
                        </li>
                        <li>
                            Kocka da umiri negativne emocije kao što su stres, depresija ili anksioznost.
                        </li>
                        <li>
                            Nema druge hobije i ne zanima ga ništa sem kockanja.
                        </li>
                        <li>
                            Kocka se uprkos negativnim posledicama, kao što su veliki gubici novca ili rasprave o tome što mnogo vremena provodi kockajući se.
                        </li>
                        <li>
                            Pokušava i da sam smanji kockanje ali bez mnogo uspeha.
                        </li>
                    </ul>
                    <h2>
                        Simptomi kockarske zavisnosti:
                    </h2>
                    <p>
                        Rani znaci problema sa kockom mogu se teško prepoznati i prhvatiti. Oni mogu biti blagi i nedovoljni da vi i vaš partnerne možete da kažete da uopšte postoji problem. <strong> Ako se ne suočite na vreme sa problemom</strong> moglo
                        bi da se desi pogoršanje zavisnosti od kockanja i čak i zavisnost ili slučaj patološkog kockanja.
                    </p>

                    <h2>
                        Pet znaka da vaš partner ima ozbiljan problem sa kockom i da mu je hitno potrebna pomoć:
                    </h2>
                    <div class="list-num">
                        <ul>
                            <li>
                                Besan je, razdražljiv i nervozan kad ne može da se kocka ako nema novaca, ili ne može doći do kazina.
                            </li>
                            <li>
                                Mnogo vremena troši kockajući se, i to se vreme povećava. Dok se kocka njemu je dobro i lepo se oseća time je razvio toleranciju na problem.
                            </li>
                            <li>
                                Ozbiljni finansijski problemi zbog kockanja ga ne sprečavaju da se kocka. To za kockara znači velike količine novca, često se dešava da izgubi posao zbog problema sa vremenom koje provodi kockajući.
                            </li>
                            <li>
                                Počinje sa ekstremnim potezima kako bi došao do većeg novca za kockanje: pozajmiljuje novac od prijatelja ili zelenaša, uzima kredite, krade stvari iz kuće i prodaje.
                            </li>
                            <li>
                                Doživljava manične epizode sreće ​​kada pobedi i teške depresije kada gubi. Njegove emocije su duboko povezane za njegovo kockanje, i nije vam jasno zbog čega se tako ponaša.
                            </li>
                            <li>
                                Negira da ima problema sa kockanjem i ne želi da prihvati nikakve savete.
                            </li>
                        </ul>
                    </div>

                    <h2>
                        Šta da radite ako mislite da je vaš partner ima problem sa kockanjem
                    </h2>

                    <p>
                        Kompulzivno kockanje je ozbiljan problem cele porodice i ako vaš partner ima bilo koji od znakova ovog problema, vreme je za važan razgovor.
                    </p>
                    <p>
                        Pristupite svom partneru sa zabrinutošću i saosećanjem i ukažite na to da on može imati problem. Objasnite kako njegovo kockanje se utiče na vaš život i vašu vezu i ponudite mu da pomognete kako bi on prestao ili smanjio kockanje. <strong> Ako odbije pomoć
                        ili je u zabludi, ne odustajte</strong>. Porazgovarajte sa njegovim prijateljima ili roditeljima kako bi vam pomogli da ga ubedite da potreži stručnu pomoć.
                    </p>
                    <p>
                        <strong>
                            Preduzmu korake sada, pre nego što bude prekasno i vaš odnos se potpuno uništi zbog zavisnosti od kockanja.
                        </strong>
                    </p>

                    <h2>
                        Na internetu možete pogledati naš film o kockanju na linku
                    </h2>
                    <iframe class="video-fr mb-4" loading="lazy " title="ZAŠTO VAM JE FOKUS SAMO NA NOVCU⁉️ " src="https://www.youtube.com/embed/VCQBgFBqqS8?controls=0&rel=0&disablekb=1&showinfo=0&modestbranding=0&html5=1&iv_load_policy=3&autoplay=0&end=0&loop=0&playsinline=0&start=0&nocookie=false&enablejsapi=1&origin=https%3A%2F%2Fstankovicdejan.com&widgetid=2 "
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media;
                gyroscope; picture-in-picture " allowfullscreen=" " frameborder="0 "></iframe>




                    <!-- END -->
                    {% include 'plugin/contact_bottom.html' %}
                </div>
                {% include 'plugin/right_bar.html' %}

            </div>
        </div>


    </div>


</section>

<!--  -->

{% endblock %}