{% extends "core/base_xherc.html" %} {% block title %} Index {% endblock title %} {% load static %} {% block content %}

<style>
    .banner-next::after {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        min-width: 100%;
        height: auto;
        min-height: 100%;
        width: auto;
        width: 100%;
        height: 100%;
        transform: translateY(-50%)translateX(-50%);
        object-fit: cover;
        background-image: url(../../static/img/content/pathological-gambling.webp);
        background-size: 100%;
        background-repeat: no-repeat;
        z-index: 0;
    }
    
    .htime10-content {
        z-index: 1;
        position: relative;
        padding: 3rem;
        background-color: rgba(201, 199, 200, .8);
    }
</style>





<section id="content-next-001">
    <div class="content-next mb-10">
        <nav aria-label="breadcrumb" class="my-5">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="dark-primary fw-600" href="/">Почетна</a></li>
                <li class="breadcrumb-item deep-carmine" aria-current="page">Патолошко коцкање, причини и последици од коцкањето</li>
            </ol>
        </nav>

        <!-- Banner min-width:992px -->
        <div style="background-color: antiquewhite;" class="position-relative ">
            <div class="banner-next">
                <div class="row">

                    {% include 'plugin/herc_program_banner.html' %}
                </div>
            </div>
        </div>

        <!-- Banner max-width:992px -->
        <div class="row">

            <!-- Banner min-width:992px -->
            <div class="d-none992min">
                <div class="row g-0">

                    <img class="img-fluid" src="{% static 'img/content/pathological-gambling.webp' %}" alt="Патолошко коцкање лечење третнам помош patolosko kockanje lecenje pomos">


                    <div class="deep-carmine-bg p-4">

                        <div class="text-center mb-4">
                            <h1 class="mb-4 white-primary">
                                Програма за третман на ХЕРЦ за патолошки коцкари
                            </h1>

                            <p class="white-primary">
                                Третманот на коцкарите според ХЕРЦ методот е резултат на работа со луѓе кои се зависни од патолошко коцкање и членови на нивните семејства.
                            </p>

                        </div>

                        <div class="d-block text-center">
                            <div class="mb-4">
                                <a href="tel:+38976303635" class="            ht-next-link-white">
                                     +389 76 303 635
                                 </a>
                            </div>

                            <div>
                                <button data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@getbootstrap" style="opacity: 1;" class="ht-next-link-white">Закажете консултација</button>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

        </div>
        <div class="container mt-5 p-0">
            <div class="row g-0">
                <div class="col-xl-8 col-lg-7 main-content">
                    <h1 class="deep-carmine">
                        Патолошко коцкање, причини и последици од коцкањето
                    </h1>


                    <p>
                        Книгата Патолошко коцкање - причини и последици е објавена во 2007 година и во неа се анализираат искуствата од работењето со коцкари, и се дефинира проблемот на коцкањето како и способноста за манипулирање и последиците од нивното коцкање.Книгата нуди
                        и многу одговори на родителите и семејства на многу прашања. Оваа книга не е прва во регионот која на практичен и професионален начин се занимава со патолошкото коцкање.
                    </p>
                    <p>
                        Кај нас не постои стручна литература на оваа тема, па како учебник оваа книга беше користена во многу трудови на студенти по психологија, право, економија, социологија и слични општествени науки, обработувајќи го феноменот на патолошкиот коцкање на специфичен
                        начин.
                    </p>
                    <h5 class="my-4">
                        Ако веќе постои сомнеж дека ваша блиска личност или колега има проблем со патолошкото коцкање, некои од најчестите и најочигледните знаци кои делумно може да го оправдаат вашето сомневање се:
                    </h5>
                    <ul>
                        <li>
                            Често доцни на работа - лицето може да не спие редовно како резултат на следење натпревари и резултати во текот на ноќта или ноќевања во казина, иако проблемите со спиењето може да настанат и како резултат на стрес поради долгови.
                        </li>
                        <li>
                            Личноста често изгледа напнато или уморно, а расположението одеднаш се менува од депресивно во еуфорично (зависно од добивка или загуба).
                        </li>
                        <li>
                            Долги паузи за ручек – лицето ги користи паузите за да се обложува, да прегледува резултати или да се сретне со луѓе кои ќе му позајмат пари.
                        </li>
                        <li>
                            Необјаснето исчезнување на лицето од работното место во попладневните часови - причините се идентични со претходното однесување, но попладневните часови се „пик“ за ставање облози или гледање натпревари во многу обложувалници.
                        </li>
                        <li>
                            Земање боледување од моментот кога е можно да се земе, а не поради реален здравствен проблем - лицето ќе користи боледување за да се коцка.
                        </li>
                        <li>
                            Значително паѓа квалитетот на работата и продуктивноста на личноста, личноста има проблем во одржувањето на концентрацијата и има проблем да ги запази дадените рокови.
                        </li>
                        <li>
                            Најчесто земајќи изолирани слободни денови (викенди) наместо блокови во време што се совпаѓа со исплата на плата.
                        </li>
                        <li>
                            Личноста често позајмува пари од колегите под разни изговори и е склона кон конфликти со колегите поради пари.
                        </li>
                        <li>
                            Чести посети на простории каде што може да следи резултати и да чита спортски вести.
                        </li>
                        <li>
                            Прекумерна употреба на мобилни телефони на работното место (договарање облози, како и заеми и отплати на долгови).
                        </li>
                        <li>
                            Читаат спортски вести и весници на работа.
                        </li>
                        <li>
                            Повлекување и лоша комуникација со колегите, како и конфликти со претпоставените (потребно е лицето да се повлече за да обезбеди најдобро прикривање на проблемот и да не се изложува на ситуации во кои не мора да се открие проблемот со коцкањето. но бројните
                            лаги со кои лицето ги оправдувало своите отсуства или доцнења).
                        </li>
                        <li>
                            Се жали на долговите и обврските што ги има во текот на месецот, се разбира, образложени со други причини.
                        </li>
                        <li>
                            Личноста често им нуди на колегите да се обложуваат заедно или на лотарија и дека таа ќе оди да ги плати, за да има изговор да излезе и да се коцка.
                        </li>
                        <li>
                            Долговите на кредитните картички или банките пристигнуваат на адресата на работното место наместо на домашната адреса.
                        </li>
                        <li>
                            Во екстремни ситуации, едно лице може да земе пари од работното место или да биде осомничено за проневера.
                        </li>
                    </ul>
                    <div class="my-5">


                        <iframe style="height: 415.37px;" loading="lazy" title="ZAŠTO VAM JE FOKUS SAMO NA NOVCU⁉️" src="https://www.youtube.com/embed/dhCauOoRNzc?controls=0&rel=0&disablekb=1&showinfo=0&modestbranding=0&html5=1&iv_load_policy=3&autoplay=0&end=0&loop=0&playsinline=0&start=0&nocookie=false&enablejsapi=1&origin=https%3A%2F%2Fstankovicdejan.com&widgetid=3"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" class="video-fr-2" frameborder="0"></iframe>
                    </div>
                    <!--  -->
                    {% include 'plugin/contact_bottom.html' %}


                </div>
                {% include 'plugin/right_bar.html' %}

            </div>
        </div>


    </div>


</section>

<!--  -->

{% endblock %}