{% extends "core/base_xherc.html" %} {% block title %} Index {% endblock title %} {% load static %} {% block content %}

<style>
    .banner-next::after {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        min-width: 100%;
        height: auto;
        min-height: 100%;
        width: auto;
        width: 100%;
        height: 100%;
        transform: translateY(-50%)translateX(-50%);
        object-fit: cover;
        background-image: url(../../static/img/content/attachment-Gambling-Addiction.jpg);
        background-size: 100%;
        background-repeat: no-repeat;
        z-index: 0;
    }
    
    .htime10-content {
        z-index: 1;
        position: relative;
        padding: 3rem;
        background-color: rgba(201, 199, 200, .8);
    }
    
    .mb-xl-0 {
        margin: 0!important;
    }
    
    @media (max-width:1200px) {
        .mb-xl-0 {
            margin-bottom: 2rem!important;
        }
        #content-next-001 .img-fluid-team {
            height: 425px;
            -o-object-fit: cover;
            object-fit: cover;
        }
    }
</style>





<section id="content-next-001">
    <div class="content-next mb-10">
        <nav aria-label="breadcrumb" class="my-5">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="dark-primary fw-600" href="/">Почетна</a></li>
                <li class="breadcrumb-item deep-carmine" aria-current="page">третман </li>
            </ol>
        </nav>

        <!-- Banner min-width:992px -->
        <div class="position-relative ">
            <div class="banner-next">
                <div class="row">


                    {% include 'plugin/herc_program_banner.html' %}

                </div>
            </div>
        </div>

        <div class="row">

            <!-- BANNER max-width:992px -->
            <div class="d-none992min">
                <div class="row g-0">

                    <img class="img-fluid" src="{% static 'img/content/attachment-Gambling-Addiction.jpg' %}" alt="">


                    <div class="deep-carmine-bg p-4">

                        <div class="text-center mb-4">
                            <h1 class="mb-4 white-primary">
                                Програма за третман на ХЕРЦ за патолошки коцкари
                            </h1>

                            <p class="white-primary">
                                Третманот на коцкарите според ХЕРЦ методот е резултат на работа со луѓе кои се зависни од патолошко коцкање и членови на нивните семејства.
                            </p>

                        </div>

                        <div class="d-block text-center">
                            <div class="mb-4">
                                <a href="tel:+38976303635" class="            ht-next-link-white">
                                    +389 76 303 635
                                </a>
                            </div>


                            <button data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@getbootstrap" style="opacity: 1;" class="ht-next-link-white">Закажете консултација
                                </button>

                        </div>

                    </div>




                </div>

            </div>

        </div>
        <div class="container mt-5 p-0">
            <div class="row g-0">
                <div class="col-xl-8 col-lg-7 main-content">
                    <h1 class="deep-carmine">Третман на коцкарот</h1>

                    <!-- <h2 class="dark-primary">НИЕ ИМАМЕ НАЈДОБРИ РЕЗУЛТАТИ</h2> -->
                    <ul>
                        <li>
                            Се обидовте сами да се откажете од коцкањето и не успеавте..
                        </li>
                        <li>
                            Те однесоа на психолог, психијатар, ти дадоа лекови и не успеа.
                        </li>
                        <li>
                            Ве однесоа во приватни болници - клиники за рехабилитација од дрога и други зависности и...не успеавте.
                        </li>

                    </ul>
                    <h3>
                        <strong>
                            Зoшто??
                        </strong>

                    </h3>

                    <p>
                        Затоа што никој од оние кои се обиделе да ви помогнат не поминал низ пеколот на коцкањето. Затоа што никој не те разбира и не може да те разбере. Никој од нив не влегол во казиното, го пополнил билетот. Како може да ви помогне ако не знае низ кој пекол
                        поминувате?
                    </p>

                    <p>
                        <strong>
                            Не сте се обиделе на вистинското место!
                        </strong> Ние сме вашата последна опција! Не го трошете вашето драгоцено време и пари! Ако сте доволно среќни да го прочитате ова без да се обидете никаде, тогаш сте на вистинското место! Многу години работа
                        се зад нас, многу променети животи и среќни семејства без коцката што ги уништи. Тоа го правиме професионално, професионално и ги имаме најдобрите резултати кои се признати во светот!
                    </p>



                    <ul>
                        <li>
                            Едукацијата за повлекување од коцкање се заснова на методот HERC на Дејан Станковиќ.
                        </li>
                        <li>
                            Третманот на коцкарите според HERC методот е резултат на работа со луѓе кои се зависни од патолошко коцкање и членови на нивните семејства.
                        </li>
                    </ul>

                    <p>
                        Програмата ја спроведува тим експерти во Нови Сад (или онлајн преку Viber). Се покажа дека едукациите траат 7-10 дена секојдневно според модел на забрзано учење. Тоа дава континуитет и динамика, а промените се очигледни потоа.
                    </p>

                    {% include 'plugin/marketing/marketing_2.html' %}

                    <h2>
                        <strong>
                            Програма за третман
                        </strong> на HERC за патолошки коцкари
                    </h2>
                    <p>
                        Дејан Станковиќ напиша три книги кои се добиваат како дел од едукацијата:
                        <a class="" href="https://kockanje.net/blog-o-kockanju/">
                            Ulog
                        </a> ,
                        <a class="" href="https://kockanje.net/stop-kockanje/">
                            Patološko kockanje-uzroci i posledice
                        </a> и
                        <a class="" href="https://kockanje.net/tag/odvikavanje-od-kockanja/">
                            Zbogom kockanje
                        </a>
                    </p>



                    <ul>
                        <li>
                            Во рамките на Програмата учествува тим од психолози кои работат на зајакнување на личните и здрави капацитети, емоционална писменост, самоувереност и градење други вештини преку различни видови на психо-едукација следејќи ги најсовремените и модерни трендови,
                            знаења и достигнувања од областа на психологијата.
                        </li>
                        <li>
                            Терапиите се индивидуални и прилагодени на секој клиент.
                        </li>
                        <li>
                            Дискрецијата е загарантирана.
                        </li>
                        <li>
                            Должината на Програмата како и самиот модел зависат од длабочината на проблемот и се одредуваат при консултации и врз основа на резултатите од психолошкото тестирање.
                        </li>
                    </ul>
                    <div class="d-flex justify-content-center">
                        <img class="img-fluid" src="{% static 'img/content/Dejan-Stankovic-scaled.jpg' %}" alt="">
                    </div>
                    <!-- END -->


                    {% include 'plugin/contact_bottom.html' %}
                    <p>
                        Ви гарантираме дискреција и ги почитуваме Вашите животни обврски. Обезбедуваме сместување за клиенти кои доаѓаат од околните земји. Времетраење на основното ниво на едукација е од 7 до 10 дена. Мора да се направи со закажување на телефон
                        <a href="tel:+38976303635">+389 76 303 635</a>
                    </p>



                </div>
                {% include 'plugin/right_bar.html' %}

            </div>
        </div>


    </div>


</section>

<!--  -->

{% endblock %}