{% extends "serbian/core/base_xherc_sr.html" %} {% block title %} HT | Patološko kockanje uzroci i posledice {% endblock title %} {% load static %} {% block content %}

<style>
    .banner-next::after {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        min-width: 100%;
        height: auto;
        min-height: 100%;
        width: auto;
        width: 100%;
        height: 100%;
        transform: translateY(-50%)translateX(-50%);
        object-fit: cover;
        background-image: url(../../static/img/content/attachment-Gambling-Addiction.jpg);
        background-size: 100%;
        background-repeat: no-repeat;
        z-index: 0;
    }
    
    .htime10-content {
        z-index: 1;
        position: relative;
        padding: 3rem;
        background-color: rgba(201, 199, 200, .8);
    }
</style>





<section id="content-next-001">
    <div class="content-next mb-10">
        <nav aria-label="breadcrumb" class="my-5">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="dark-primary fw-600" href="/">Početna</a></li>
                <li class="breadcrumb-item deep-carmine" aria-current="page">kako postupiti sa osobom koja ima problem sa kockanjem</li>
            </ol>
        </nav>


        <div style="background-color: antiquewhite;" class="position-relative ">
            <div class="banner-next">
                <div class="row">
                    <!-- min-width:992px -->

                    {% include 'serbian/plugin/herc_program_banner.html' %}

                </div>
            </div>
        </div>

        <div class="row">

            <!-- max-width:992px -->
            <div class="d-none992min">
                <div class="row g-0">

                    <img class="img-fluid" src="{% static 'img/family-and-gembler.webp' %}" alt="">
                    <div class="deep-carmine-bg p-4">
                        <div class="text-center mb-4">
                            <h1 class="mb-4 white-primary">HERC program lečenja patoloških kockara</h1>
                            <p class="white-primary"> Lečenje kockara po Metodi HERC predstavlja rezultat rada sa osobama koje su zavisne od patološkog kockanja i članovima njihovih porodica.</p>

                        </div>
                        <div class="d-block text-center">
                            <div>
                                <a href="tel:+381653342321" class="mb-3 
                                     ht-next-link-white">+381-65-33-423-21</a>
                            </div>
                            <div class="mt-4">
                                <button data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@getbootstrap" style="opacity: 1;" class="ht-next-link-white">Rezervišite termin</button>
                            </div>
                        </div>

                    </div>




                </div>

            </div>

        </div>
        <div class="container mt-5 p-0">
            <div class="row g-0">
                <div class="col-xl-8 col-lg-7 main-content pe-5">
                    <h1 class="deep-carmine">Kako postupiti sa osobom koja ima problem sa kockanjem</h1>
                    <p><strong>
                        Ukoliko vaš suprug, ili sin ima problem sa kockanjem morate taj problem da shvatite vrlo ozbiljno!</strong> Veoma je važno da znate da je odgovornost za lečenje kockara i na vama. On je u blokadi i često ne može da shvati da ga
                        kocka uvlači sve više i više, i da nije u stanju da se odupre i prestane. Morate da shvatite i pročitate kakva je to zavisnost, da se upoznate sa simptomima.</p>


                    <p> <strong>
                        Nema velike razlike od zavisnosti od droge,</strong> samo što ste kod kockarske zavisnosti i vi i cela vaša porodica u probelmu. On je uzrok, ali kada dođu kamatari, kada se previše zaduži, kada to odmakne, imaćete i vi lično problema
                        sa nima. Nećete moći da se izvučete time što niste znali, njih to ne zanima njih zanimaju samo pare koje ćete morati i vi da vraćate. Moraćete da prodate sve što imate, ako možete da se spasite. Zato je potrebno da se ozbiljno
                        shvati problem, i reaguje na vreme, dok još ima nade i mogućnosti da se spasi život njegov, vaš i vaše dece.
                    </p>

                    <p><strong>
                        Sve što stvarate, radite, čuvate, nasledite može da ode za jedan dan za ruletom.</strong> I ono što nemate! To su ozbiljne stvari, i shvatite da mu vi savetima, kritikovanjem nećete pomoći. Više mu to odmaže, jel on mora da nauči
                        kako sam da se izbori sa tim. Prvo mora da prihvati da postoji problem. Nemojte se praviti da je sve u redu, ako imate osećaj da NIJE. Vi to najbolje vidite, vi poznajete vašeg supruga. Reagujte na vreme i pomozite mu. Nije ni
                        rešenje da se on ubije, dugove ćete morati vi da vraćate! Ako se razvedete, uvek ćete sebe kriviti što niste pokušali da mu pomognete, bez obzira na cenu, bez obzira na sve, jel život nema cenu!
                    </p>
                    <div class="my-5">
                        <iframe class="video-fr" loading="lazy" title="ZAŠTO VAM JE FOKUS SAMO NA NOVCU⁉️" src="https://www.youtube.com/embed/J2bI0SwAQBE?list=PLpRpUXzcyQipJGa2XI0cDfYqqv5z08-ys" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen="" frameborder="0"></iframe>

                    </div>

                    <p>
                        U nastavku su neki od simptoma i slika koje se ponavljaju, a vi vidite da li prepoznajete svog supruga ili sina u njima. Ako se negde prepoznajete njegovo ponašanje, reagujte što pre i potražite makar savet telefonom, u HERC Timu je telefon dostupan svaki
                        dan!
                    </p>

                    <ul>
                        <li>
                            Pružaće veliki otpor pri pokušaju da se razgovara na temu kocke, a naročito na temu toga da li postoji mogućnost da ima problem sa kockanjem.
                        </li>
                        <li>
                            Što je osoba više u problemu sa kockanjem to će intenzivnije braniti ili pravdati svoje kockanje kao put do sticanja veće količine novca.
                        </li>
                        <li>
                            Vaš voljeni suprug može postati tajnovit, odbrambeno nastrojen ili čak kriviti vas za njihovu potrebu za kockanjem, uz obrazloženje da je sve što rade za vas.
                        </li>
                        <li>
                            Njimu potrebno samo da verujete u njega i veliki novac koji će osvojiti jednog dana.
                        </li>
                        <li>
                            Mogu postati vrlo tajnovit kada su njegoje finansije u pitanju.
                        </li>
                        <li>
                            Vrlo moguće da će izraziti želju da oni vode računa o porodičnim prihodima, a neretko će se dešavati i da će biti nedovoljno novca, bez obzira na nepromenjene troškove i primanja.
                        </li>
                        <li>
                            Ušteđavine će se polako smanjivati, a moguće da će se pojavljivati i iznenadne i vama neobjašnjive pozajmice i krediti.
                        </li>
                        <li>
                            Počeće da krade novac iz kuće za kockanje
                        </li>
                        <li>
                            Svoja primanja vešto će skrivati. Nikada nećete znati gde odlazi novac.
                        </li>
                        <li>
                            Mogu postati intenzivno napeti i “očajan” da dođe do novca kojim bi finansirao svoje kockanje.
                        </li>
                        <li>
                            Pored kredita velika je verovatnoća da će se zaduživati kod porodice i prijatelja, a može da se desi da nakit i skupocene stvari iz vašeg doma misteriozno nestanu.
                        </li>
                    </ul>

                    <h2 class="dark-primary">Kako pomoći nekome sa problemom kockanja?</h2>

                    <ul>
                        <li>
                            Ljudi koji imaju problem sa kockanjem najčešće trebaju podršku porodice i prijatelja da bi se sa tim problemom borili i prestali da kockaju, ali odluka da prestanu da kockaju mora biti njihova.
                        </li>
                        <li>
                            Koliko god vi to želeli i koliko god da su efekti njihove kocke, kojima ste vi svedok, razorni ne možete nekoga naterati da prestane da se kocka.
                        </li>
                        <li>
                            Ukoliko član vase porodice ima problem sa kockanjem imaćete verovatno vrlo suprotstavljene emocije.
                        </li>
                        <li>
                            Pokrivaćete voljenu osobu, pravdati je i ulagati ogromne napore da joj pomognete da prestane da kocka.
                        </li>
                        <li>
                            Sa druge strane vrlo verovatno da ćete biti izuztetno umorni i besni ukoliko osoba ponovo poklekne.
                        </li>
                        <li>
                            Velika je verovatnoća da će osba pozajmiti, ponekad i ukrasti novac od vas, kao i da će imanja i nekretnine prodavati ili podizati kredite za koje nećete znati.
                        </li>
                        <li>
                            Sve ovo može biti vrlo iscrpljujuće i razočaravajuće za vas.
                        </li>
                        <li>
                            Kada se osoba koja ima problem sa kockanjem suoči sa posledicama svojih dela nastupa intenzivno osećanje krivice i slom samopoštovanja
                        </li>
                        <li>
                            Može se desiti da ostanete bez svega što imate. Ovo se neće desiti odjednom, već postepeno…
                        </li>
                        <li>
                            Često se dešava da među patološkim kockarima postoji veliki procenat samoubistava.
                        </li>
                        <li>
                            <strong>
                                Ukoliko postoje mogućnosti podstaknite osobu da potraži pomoć i budite joj podrška kroz proces odvikavanja, ali postavite granice i osvestite dokle tačno ide vaša odgovornost.
                            </strong>
                        </li>
                    </ul>
                    <h5 class="fw-500 white-primary deep-carmine-bg p-3 mb-4">
                        *U HERC Timu se pruža pomoć kako kockarima tako i obavezno članovima porodice, kako da reaguju, kako da se ponašaju i gde oni greše. Svako ima pravo na svoj izbor, ali ako se pridržavaju svi saveta i programa koji nauče, kockanje će biti prošlost, i moći
                        ćete mirno da živite!
                    </h5>






                    {% include 'serbian/plugin/contact_bottom.html' %}


                </div>
                {% include 'plugin/right_bar.html' %}

            </div>
        </div>


    </div>


</section>

<!--  -->

{% endblock %}