{% extends "serbian/core/base_xherc_sr.html" %} {% block title %} HT | Patološko kockanje uzroci i posledice {% endblock title %} {% load static %} {% block content %}

<style>
    .banner-next::after {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        min-width: 100%;
        height: auto;
        min-height: 100%;
        width: auto;
        width: 100%;
        height: 100%;
        transform: translateY(-50%)translateX(-50%);
        object-fit: cover;
        background-image: url(../../static/img/content/herctime_pathological_gambling.jpg);
        background-size: 100%;
        background-repeat: no-repeat;
        z-index: 0;
    }
    
    .htime10-content {
        z-index: 1;
        position: relative;
        padding: 3rem;
        background-color: rgba(201, 199, 200, .8);
    }
    
    .video-fr {
        width: calc(100% - 35px);
        height: 394px;
    }
    /* .content-n-001 ul li::before {
        position: absolute;
        top: .6rem;
        left: -1.5rem;
        content: " ";
        width: .6rem;
        height: .6rem;
        background: var(--deep-carmine);
        z-index: 1;
        border-radius: 50%;
    } */
    
    @media (max-width:1200px) {
        .video-fr {
            width: calc(100% - 50px);
            height: 394px;
        }
    }
    
    @media (max-width:992px) {
        .video-fr {
            width: calc(100%);
            height: 394px;
        }
    }
    
    @media (max-width:576px) {
        .video-fr {
            width: calc(100%);
            height: 215.37px;
        }
    }
</style>





<section id="content-next-001" class="content-n-001">
    <div class="content-next mb-10">
        <nav aria-label="breadcrumb" class="my-5">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="dark-primary fw-600" href="/">Početna</a></li>
                <li class="breadcrumb-item deep-carmine" aria-current="page">Patološko kockanje uzroci i posledice</li>
            </ol>
        </nav>

        <!-- Banner -->
        <div style="background-color: antiquewhite;" class="position-relative ">
            <div class="banner-next">
                <div class="row">
                    <!-- min-width:992px -->
                    {% include 'serbian/plugin/herc_program_banner.html' %}
                </div>
            </div>
        </div>
        <!-- Banner max-width:992px -->
        <div class="row">

            <!-- max-width:992px -->
            <div class="d-none992min">
                <div class="row g-0">

                    <img class="img-fluid" src="{% static 'img/family-and-gembler.webp' %}" alt="">
                    <div class="deep-carmine-bg p-4">
                        <div class="text-center mb-4">
                            <h1 class="mb-4 white-primary">HERC program lečenja patoloških kockara</h1>
                            <p class="white-primary"> Lečenje kockara po Metodi HERC predstavlja rezultat rada sa osobama koje su zavisne od patološkog kockanja i članovima njihovih porodica.</p>

                        </div>
                        <div class="d-block text-center">
                            <div>
                                <a href="tel:+381653342321" class="mb-3 
                                     ht-next-link-white">+381-65-33-423-21</a>
                            </div>
                            <div class="mt-4">
                                <button data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@getbootstrap" style="opacity: 1;" class="ht-next-link-white">Rezervišite termin</button>
                            </div>
                        </div>

                    </div>




                </div>

            </div>

        </div>


        <div class="container mt-5 p-0">
            <div class="row g-0">
                <div class="col-xl-8 col-lg-7 main-content  pe-5">
                    <h1 class="deep-carmine">Patološko kockanje uzroci i posledice</h1>
                    <p> Knjiga Patološko kockanje -uzroci i posledice je objavljena 2007. godine i u njoj su analizirana iskustva u radu sa kockarima, i definisan je problem kockanja kao i sposobnost manipulisanja i posledice njihovog kockanja Knjiga nudi
                        i mnoge odgovore roditeljima i porodici na brojna pitanja. Ova knjiga ne prva u regionu koja na praktičan i stručan način obrađuje patološko kockanje.</p>



                    <p>
                        U našoj zemlji ne postoji stručna literatura na ovu temu, tako da je kao udženik ova knjiga korišćena u mnogim radovima studenata psihologije, prava, ekonomije, sociologije i sličnih društvenih nauka, obrađujući pojavu patološkog kockanja na specifičan
                        način.
                    </p>

                    <p>
                        <strong>
                            Ukoliko već postoji sumnja da Vama bliska osoba, ili kolega/koleginica imaju problem patološkog kockanja, neki od najčešćih i najočiglednijih znakova koji Vam mogu delimično opravdati sumnju su:
                        </strong>
                    </p>
                    <ul>
                        <li>
                            Često kašnjenje na posao – osoba vrlo moguće ne spava redovno kao posledica praćenja utakmica i rezultata tokom noći, ili noći provodi u kazinima, mada problem sa spavanjem može nastati i kao posledica stresa usled zaduživanja.
                        </li>
                        <li>
                            Osoba često deluje napeto ili umorno, a raspoloženje se naglo menja od depresivnog do euforičnog (zavisni od dobitka ili gubitka).
                        </li>
                        <li>
                            Duge pauze za ručak – osoba koristi pauze kako bi se kladila, pregledala rezultate ili se sastala sa osobama koje će joj pozajmiti novac.
                        </li>
                        <li>
                            Neobrazloživo nestajanje osobe sa radnog mesta u popodnevnim satima – razlozi su identični kao i za predhodno ponašanje, ali su popodnevni sati „udarni“ za postavljanje opklada ili praćenje utakmica u mnogim kladionicama.
                        </li>
                        <li>
                            Uzimanje bolovanja od momenta kada je isto moguće uzeti, a ne zarad stvarnog zdravstvenog problema – osoba će koristiti bolovanje radi kockanja.
                        </li>
                        <li>
                            Kvalitet rada i produktivnost osobe značajno opada, osoba ima problem u održavanju koncentracije i ima problem u ispunjavanju datih rokova.
                        </li>
                        <img class="img-fluid my-4" style="width: 100%;" src="{% static 'img/content/herctime_pathological_gambling-1.jpg' %}" alt="">
                        <li>
                            Najčešće uzimanje izolovanih dana odmora (vikendi) umesto blokova u vreme koje se podudara sa isplatom plate.
                        </li>
                        <li>
                            Osoba često pozajmljuje novac od kolega pod raznim izgovorima i sklona je konfliktima sa kolegama oko novca.
                        </li>
                        <li>
                            Često odlaženje u prostorije u kojima može pratiti rezultate i čitati sportske vesti.
                        </li>
                        <li>
                            Prekomerno korišćenje mobilnog telefona na radnom mestu (dogovoranje opklada, kao i pozajmica i vraćanja dugova).
                        </li>
                        <li>
                            Čitaju sportske vesti i novine na radnom mestu.
                        </li>
                        {% include 'serbian/plugin/marketing/marketing_2.html' %}
                        <li>
                            Povlačenje i slaba komunikacija sa kolegama, kao i konflikti sa nadređenima (osobi je naophodno povlačenje kako bi obezbedila što bolje prikrivanje problema i da se ne izlaže situacijama u kojima bi se mogao otkriti ne nužno problem kockanja, koliko mnogobrojne
                            laži kojima je osoba pravdala svoje nedolaske ili kašnjenja).
                        </li>
                        <li>
                            Osoba se žali na dugove i obaveze koje ima u toku meseca, naravno, objašnjene drugim razlozima.
                        </li>
                        <li>
                            Osoba često nudi kolegama da zajedno ulažu opklade ili za lutriju, a da će ona otići da uplati iste, kako bi imala izgovor da izađe i kocka.
                        </li>
                        <li>
                            Dugovanja na kreditnim karticama ili bankama pre stižu na adresu radnog mesta nego na kućnu adresu.
                        </li>
                        <li>
                            U ekstremnim situacijama osoba može uzeti novac sa radnog mesta ili biti osumnjičena za proneveru novca.
                        </li>
                    </ul>




                    <ul>
                        <li>
                            Dužina Programa kao i sam model zavise od dubine problema a određuju se na konsultacijama i na osnovu rezultata psihološkog testiranja.
                        </li>
                    </ul>





                    {% include 'serbian/plugin/contact_bottom.html' %}




                </div>
                {% include 'serbian/plugin/right_bar.html' %}

            </div>
        </div>


    </div>


</section>

<!--  -->

{% endblock %}